.books-container {
  padding: 20px;
  text-align: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

h1 {
  margin-top: 30px;
  color: #2b3a55;
}
