.navbar {
  background-color: #A7C7E7;
  padding: 18px 0;
  color:  purple;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  opacity: 0.75;
}
